@font-face {
    font-family: 'alpha_echoregular';
    src: url('Polices/Alpha-Echo/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.eot');
    src: url('Polices/Alpha-Echo/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/Alpha-Echo/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.woff') format('woff'),
         url('Polices/Alpha-Echo/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.ttf') format('truetype'),
         url('Polices/Alpha-Echo/web fonts/alphaecho_regular_macroman/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dumbregular'; 	/*j'ai découvert que le nom de la police ne pouvait pas commencer par un chiffre */
    src: url('Polices/3Dumb/3Dumb-webfont.eot');
    src: url('Polices/3Dumb/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('Polices/3Dumb/3Dumb-webfont.woff') format('woff'),
         url('Polices/3Dumb/3Dumb-webfont.ttf') format('truetype'),
         url('Polices/3Dumb/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*
{
	font-family: alpha_echoregular, Arial, sans-serif;
	color: white;
	
}

body
{
	background-image: url("Images/herbe3.jpg");
}

#liseret
{
	width: 10%;
	height: 900px;
	border: 2px, black, solid;
	display: inline-block;
	background-color: gray;
	vertical-align: top;
	border-radius: 5px;
}

header
{
	display: inline-block;
	align: center;
	width:100%;
}

#phrasedaccroche
{
	display: inline-block;
	font-family: alpha_echoregular, Arial, sans-serif;
	font-size: 2em;
	color: rgb(50,200,100);
	text-align: center;
	width: 70%;
}

#maphoto
{
	display: inline-block;
	margin: 20px;
}

#page_droite
{
	position: relative;
	display: inline-block;
	width: 89%;
}

#contenu
{
	margin: 0px;
	padding: 0px;
}

p{
	display: inline-block;
	color: blue;
}

section
{
	display: inline-block;
	align: center;
}


h1
{
	color: rgb(50,200,100);
	background-color: black;
	font-family: dumbregular, Arial, sans-serif;
	text-align: center;
	border: 3px gray groove;
	border-radius: 10px;
	box-shadow: 6px 6px 3px gray;
	align: center;
}

h2
{
	color: rgb(200,200,255);
	text-decoration: underline;
}

h3
{
	color: yellow;
	font-size: large;
}

.h3spe
{
	color: green;
}

a:hover
{
	background-color: black;
	color: yellow;
	border: 3px gray groove;
}

strong
{
	font-weight: bold;
	font-style: italic;
	color: #AAAAFF;
}

li, li em
{
	font-weight: normal;
	font-size: 0.9em;
}

article
{
	display: inline-block;
	vertical-align: top;
	width: 28%;
	word-wrap: break-word;
}

@media screen and (max-width: 1024px)
{

	#liseret
	{
	display:none;
	}
	
	#page_droite
	{
		width: auto;
	}
	
}

@media screen and (max-width: 800px)
{
	article
	{
		display: block;
		width: auto;
	}
}